.cart {
  padding: 20px 20px 20px;
  width: 100%;

  & h2 {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
  }
  & ul {
    margin-top: 10px;
    padding: 5px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    @media (max-width: 768px) {
      max-height: 75vh;
    }
    @media (max-width: 330px) {
      max-height: 70vh;
    }
  }
  & p {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  &__button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ff8000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
  }
}
