.mealItem {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  &__amount {
    margin-right: 10px;
    & strong {
      padding: 2px 6px;
      border: 1px solid #ccc;
      border-radius: 6px;
      color: #363636;
      font-weight: 700;
    }
  }
  &__container {
    width: 100%;
    &-info {
      display: flex;
      & h3 {
        width: 100%;
      }
      & span {
        font-weight: 500;
      }
    }
  }
  &__additions {
    max-width: 70%;
    & span {
      font-style: italic;
    }
  }
  &__controls {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    & div {
      & button {
        padding: 0 10px;
        margin-left: 5px;
        font-size: 30px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
      }
    }
  }
}
