.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 8;
}

.modal {
    position: relative;
    width: 90%;
    margin: 20vh auto 0;
    max-width: 640px;
    background-color: white;
    border-radius: 10px;

    & .close {
        position: absolute;
        right: 10px;
        top: 0px;
        font-size: 40px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: red;
    }
}
