.item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    &__content {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 10px;
        width: 100%;
    }
    &__ing {
        color: #555;
        font-style: italic;
        margin-bottom: 15px;
        line-height: 1.5;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
    }
    &__image {
        width: 100px;
        height: 100px;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}