.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  background-color: #fff;
  z-index: 5;
  &__logo {
    display: flex;
    align-items: center;
    & svg {
      width: 50px;
      height: 50px;
      @media (max-width: 560px) {
        width: 40px;
        height: 40px;
      }
    }
    & h2 {
      margin-left: 5px;
      font-size: 34px;
      color: #222;
      @media (max-width: 560px) {
        font-size: 26px;
      }
    }
  }
}

.image {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 500px;
  background-image: url("../../assets/burger5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  @media(max-width: 768px) {
    height: 400px;
  }
  @media(max-width: 530px) {
    height: 350px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
