form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 20px;
  padding: 10px 20px 15px;
  color: #444;
  background-color: rgb(252, 235, 235);
  border-radius: 0 0 10px 10px;
  & h4 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    max-height: 100%;
  }
}

.amount {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin-top: 30px;
  @media (max-width: 1024px) {
    margin: auto 0 0 0;
  }
}
