.meal {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
  &__title {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 700;
  }
  &__ing {
    max-width: 680px;
    margin-bottom: 5px;
    color: #444;
    font-style: italic;
  }
  &__opt {
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
  }
  &__price {
    font-size: 20px;
    font-weight: 500;
    color: #ff8000;
  }
}

.right {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  &__image {
    width: 120px;
    & img {
      width: 100%;
      border-radius: 10px;
    }
  }
  & span {
    margin-left: 10px;
    padding: 0 10px;
    background-color: #ff8000;
    font-size: 30px;
    border-radius: 50%;
  }
}
